
datasets/iptu-sp/IPTU_Part_01_750K.csv
datasets/iptu-sp/IPTU_Part_02_750K.csv
datasets/iptu-sp/IPTU_Part_03_970K.csv
datasets/iptu-sp/IPTU_Part_04_750K.csv
datasets/iptu-sp/IPTU_Part_05_750K.csv
**/.idea/**
**-checkpoint.**
datasets/iptu-sp/iptu.csv
datasets/imoveis/.vscode
video/pitch_realoque.mp4
datasets/etc/imoveis_uniao_csv.CSV
