header{
    background-color: black;
    color: white;
    margin-top: 0px;
    padding-top: 0px;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 80px;
}

header h1{
    display: inline-block;
    font-weight: lighter;
    vertical-align: middle;
    border-right: 1px solid white;
    padding-right: 10px;
}

header h3{
    display: inline-block;
    font-size: 11pt;
    font-weight: bolder;
    vertical-align: middle;
    margin-top: -7px;
    margin-left: 20px;
}

header .right{
    display: block;
    float: right;
    margin-top: -40px;
}

header button{

    color: white;
    background: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;

}

.login{
    border: 2px solid white;    
}

header img{
    width: 150px;
    margin-top: 25px;
}