.search-containner{

    display: block;
    margin: 0 ;
    height: 100px;
    background-color: rgba(1, 1, 1, .8);
    width: 450px;
    padding: 30px;
    
}

.search-containner h2{
    color: white !important;
}

.back{
    background-image: url(../imgs/predius.jpg);
    background-size: 120%;
    background-attachment: fixed;
}

.back .inner{
    padding-top: 150px;
    height: 300px;
}

.home h2{

    color: gray;
    font-weight: lighter;
    margin-top: 0px;
    padding-top: 10px;

}

select{

    padding: 10px;
    background-color: white;
    border-radius: 10px 0 0 10px;
    display: inline-block;
    float: left;

    vertical-align: middle;

}

select:focus{
    outline: none;
}

#busca{

    background-color: rgba(0, 0, 0, 0);
    color: white;

    display: inline-block;
    
    height: 37px;
    width: 40px;
    border-radius: 0 10px 10px 0  ;
    border: none;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

button:active{
    opacity: .9;
}

.trending{
    margin-top: 40px;
}
